<section class="content-header" style="height:10px;">
	<h1>
		<d>debtsReportSimple</d>
	</h1>
</section>
<!-- Main content -->
<section class="content" id="printThis">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<div class="form-group noPrint row">
						<div class="col-md-1">
							<label class="control-label" for="days"><d>Days</d>:</label>

						</div>
						<div class="col-md-2">
							<input type="number" ng-model="day"  class="form-control" id="days" name="days" required>
						</div>
						<div class="col-md-2">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="accountType"><d>AccountType</d>:</label>
						</div>
						
						<div class="col-md-3">
							<select class="form-control" id="fromType" ng-model="accountType" name="accountType">
								<option value="partner">Partner</option>
								<option value="company">Company</option>
								<option value="customer">Customer</option>
								<option value="partner">Partner</option>
								<option value="expense">Expense</option>
								<option value="store">Store</option>
								<option value="cash">Cash</option>
								<option value="drawing">Drawing</option>
								<option value="equipment">Equipment</option>
								<option value="noAccount">NoAccount</option>
							</select>
						</div>

						<div class="col-md-2">
							<button  ng-click="newDebtsReportSimple()" class="btn btn-primary col-md-12"><d>Send</d></button>
						</div>
					</div>


				</div>

				<div class="col-md-12 box-body bgWhite">
					<h3><d>debtsReportSimple</d>: <small>{{days}} <d>days</d></small></h3>
					
					<table class="table table-bordered table-striped dataTable">
						<tr>
							<th>#</th>
							<th><d>Account</d></th>
							<!-- <th><d>Day</d></th> -->
							<!-- <th><d>Date</d></th>
							<th><d>Balance</d></th>
							<th><d>Paid</d></th> -->
							<th>{{day}}</th>
							<th>{{day + 1}}</th>
							<th>{{day + 2}}</th>
							<th class="hide"></th>
						</tr>
						<tr ng-repeat="p in debtsReportSimpleData">
							<td >{{$index + 1}}</td>
							<td >{{p.name}}</td>
							<!-- <td >{{p.day}}</td> -->
							<!-- <td >{{p.date}}</td>
							<td>{{p.depp_balance | currency}}</td>
							<td>{{p.paid | currency}}</td> -->
							<td>{{p.remained | currency}}</td>
							<td>{{p.remained1 | currency}}</td>
							<td>{{p.remained2 | currency}}</td>
							<td class="hide"></td>
						</tr>
					</table>
				</div>
			</div>

			




			
		</div>

	</div>

</section>
<!-- /.content 
</div>-->
<!-- /.content-wrapper -->



