<section class="content" id="printThis">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title"><d>deppTable</d></h3>
			<button class="btn btn-primary btn-xs addBtn noPrint" data-toggle="modal"  ng-click="add()" title="Alt+N"><d>addNew</d></button>
		</div><!-- /.box-header -->
		<div class="box-body">
			<table class="table table-bordered table-striped dataTable">
				<thead>
					<tr>
						<th class="{{checkSort('id')}}" id="id" ng-click="sorting('id')"><d>id</d></th>
						<th class="{{checkSort('id_branch')}}" id="id_branch" ng-click="sorting('id_branch')"><d>branch</d></th>
						<th class="{{checkSort('name')}}" id="name" ng-click="sorting('name')"><d>name</d></th>
						<th class="{{checkSort('type')}}" id="type" ng-click="sorting('type')"><d>type</d></th>
						<th class="{{checkSort('code')}}" id="code" ng-click="sorting('code')"><d>code</d></th>
						<th class="{{checkSort('id_account')}}" id="id_account" ng-click="sorting('id_account')"><d>Cash</d></th>
						<th class="{{checkSort('phone')}}" id="phone" ng-click="sorting('phone')"><d>phone</d></th>
						<th class="{{checkSort('address')}}" id="address" ng-click="sorting('address')"><d>address</d></th>
						<th class="{{checkSort('detail')}}" id="detail" ng-click="sorting('detail')"><d>detail</d></th>
						<th><d>action</d></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in deppList">
						<td>{{item.id}}</td>
						<td>{{item.branch}}</td>
						<td>{{item.name}}</td>
						<td>{{dic(item.type)}}</td>
						<td>{{item.code}}</td>
						<td>{{item.account}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.address}}</td>
						<td>{{item.detail}}</td>
						<td>
							<button class="btn btn-warning btn-xs noPrint" data-toggle="modal" data-target="#appModal" ng-click="edit(item)"><d>edit<default/d></button>
							<button class="btn btn-danger btn-xs noPrint" data-toggle="modal" data-target="#appModal" ng-click="delete(item)"><d>delete</d></button>
						</td>
					</tr>
				</table>
				<pagination></pagination>

			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section>


	<div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="DiakoModal">
		<div class="modal-dialog modal-md bigModal" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="appModalLabel">{{modalTitle}}</h4>
				</div>
				<div class="modal-body">
					<form name="mForm" novalidate>
						<div class="form-group">
							<label for="branch" class="control-label"><d>branch</d>:</label>
							<select class="form-control" id="branch" ng-change="totalDisplayedPlus()" ng-model="modal.id_branch" name="branch" required autofocus>
								<option ng-repeat="branch in branchList | limitTo:totalDisplayed" value="{{branch.id}}">{{branch.name}}</option>
								
								<!-- <option><d>Load_More</d></option> -->
								
							</select>
						</div>

						<div class="form-group">
							<label for="name" class="control-label"><d>name</d>:</label>
							<input type="text" class="form-control" id="name" name="name" ng-model="modal.name" required>
						</div>

						<div class="form-group">
							<label for="type" class="control-label"><d>type</d>:</label>
							<select  class="form-control" id="type" ng-model="modal.type" required>
								<option value="piece">{{dic('Piece_mobile')}}</option>
								<option value="repair_mobile">{{dic('Repair_mobile')}}</option>
								<option value="repair_computer">{{dic('Repair_computer')}}</option>
								<option value="mobile">{{dic('Mobile')}}</option>
								<option value="camera">{{dic('Camera')}}</option>
								<option value="software">{{dic('Software')}}</option>
								<option value="laptop">{{dic('Laptop')}}</option>
								<option value="accessories">{{dic('Accessories')}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="code" class="control-label"><d>code</d>:</label>
							<input type="text" class="form-control" id="code" name="code" ng-model="modal.code">
						</div>
						<div class="form-group">
							<label for="cash" class="control-label"><d>cash</d>:</label>
							<select class="form-control" id="account" ng-model="modal.id_cash" name="account" required>
								<option ng-repeat="account in accountList" value="{{account.id}}">{{account.name}}</option>								
							</select>
						</div>
						<div class="form-group">
							<label for="phone" class="control-label"><d>phone</d>:</label>
							<input type="text" class="form-control" id="phone" name="phone" ng-model="modal.phone">
						</div>
						<div class="form-group">
							<label for="address" class="control-label"><d>address</d>:</label>
							<input type="text" class="form-control" id="address" name="address" ng-model="modal.address">
						</div>
						<div class="form-group">
							<label for="detail" class="control-label"><d>detail</d>:</label>
							<input type="text" class="form-control" id="detail" name="detail" ng-model="modal.detail">
						</div>

					</form>
					<div>
						<p ng-repeat="m in errorMessage" class="bg-warning modalError">{{dic(m.field)}} - {{dic(m.content)}} {{m.extra}}</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><d>close</d></button>
					<button type="button" class="btn btn-primary" ng-click="saveModal()" ng-hide="modalType == 'delete'" ng-disabled="!mForm.$valid || lockForm"><d>save</d></button>
					<button type="button" class="btn btn-danger" ng-click="saveModal()" ng-show="modalType == 'delete'"  ng-disabled="lockForm"><d>delete</d></button>
				</div>
			</div>
		</div>
	</div>