<section class="content" id="printThis">
	<div class="box">
		<div class="box-body">
			<div id="invoice" class="invoiceStyle">
				<h3><d>indepp_acc_new</d></h3>
				<div class="information">
					<indepp-header></indepp-header>
				</div>
				<indepp-body-two-step></indepp-body-two-step>
				<indepp-pay></indepp-pay>
				<div class="col-md-10">
					<div class="alert alert-warning alert-dismissable" ng-show="errorShow">
						<button type="button" class="close" ng-click="toggleError()">×</button>
						<h4 style="margin-bottom: 0;" class="{{tr}}" ><i class="icon fa fa-warning"></i> <d>Alert</d> <span ng-repeat="m in errorMessage">{{dic(m.field)}} - {{dic(m.content)}} {{m.extra}}</span></h4>

					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary pull-right"  ng-click="saveInvoice()"  ng-disabled="lockForm"><d>Save</d></button>
				</div>
			</div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</section>


