<section class="content" id="printThis">
	<div class="box">
		<div class="box-body">
			<div id="invoice" class="invoiceStyle">
				<h3><d>outdepp_mobile_new</d></h3>
				<div class="information">
					<div class="col-md-4">
						<div class="form-group">
							<label for="invoice" class="control-label"><d>invoice</d>:</label>
							<input class="form-control" id="invoice" ng-model="invoice.invoice" name="invoice" disabled>
						</div>
						<div class="form-group">
							<label for="accountType" class="control-label"><d>accountType</d>:</label>
							<select class="form-control" id="accountType" ng-change="getAccounts()" ng-model="invoice.accountType" name="accountType" required>
								<option value="noAccount"><d>NoAccount</d></option>
								<option value="company"><d>Company</d></option>
								<option value="customer"><d>Customer</d></option>
								<option value="partner"><d>Partner</d></option>
							</select>
						</div>
						<div class="form-group">
							<label for="account" class="control-label"><d>account</d>:</label>
							<select class="form-control" id="account" ng-model="invoice.id_account" name="account" ng-change="getBrands()" required>
								<option ng-repeat="account in accountList" value="{{account.id}}">{{account.name}}</option>								
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="type" class="control-label"><d>type</d>:</label>
							<select class="form-control" id="type" ng-model="invoice.type" name="type">
								<option value="active"><d>active</d></option>
								<option value="just_show"><d>just_show</d></option>
								<option value="cancel"><d>cancel</d></option>
								<option value="freeze"><d>freeze</d></option>
							</select>
						</div>
						<div class="form-group">
							<label for="userDeppAuth" class="control-label"><d>userDeppAuth</d>:</label>
							<input type="text" class="form-control" disabled value="{{userDeppAuthSelect.depp + ' ' + userDeppAuthSelect.code}}">
							<span style="color:#FFF;">{{invoice.id_depp = userDeppAuthSelect.id}}</span>
							<!-- <select class="form-control" id="userDeppAuth" ng-options="option.depp + ' ' + option.code for option in userDeppAuth track by option.id" ng-model="invoice.userDeppAuth" name="userDeppAuth" >
						</select> -->
					</div>

				</div>
				<div class="col-md-4"><img  class="pull-right" id="company_logo" src="dist/img/logo.png" alt="Hi Company" width="100" /></div>
				<div class="newCustomer" ng-show="invoice.accountType == 'customer'">
				<div class="col-md-12">
					<h3><d>NewCustomer</d></h3>
					<div class="col-md-4">
						<div class="form-group">
							<label for="mobile" class="control-label"><d>mobile</d>:</label>
							<input class="form-control" id="mobile" ng-model="customer.mobile" name="mobile" ng-keypress="mobileChange($event,customer.mobile)">
						</div>
					</div>
					<div class="col-md-8">
						<div ng-show="errorShowMini" style="color: orange;padding-top: 8px;text-align:center;" class="{{tr}}">
							<i class="icon fa fa-warning"></i> <span ng-repeat="m in errorMessageMini">{{dic(m.content)}} {{m.extra}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-12" style="margin-bottom:15px;">
					<div class="col-md-4">
						<div class="form-group">
							<label for="name" class="control-label"><d>name</d>:</label>
							<input class="form-control" id="name" ng-model="customer.name" name="name" required ng-disabled="invoice.id_account">
						</div>
						<div class="form-group">
							<label for="phone" class="control-label"><d>phone</d>:</label>
							<input class="form-control" id="phone" ng-model="customer.phone" name="phone" ng-disabled="invoice.id_account">
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label for="serial" class="control-label"><d>serial</d>:</label>
							<input class="form-control" id="serial" ng-model="customer.serial" name="serial" ng-disabled="invoice.id_account">
						</div>
						<div class="form-group">
							<label for="email" class="control-label"><d>email</d>:</label>
							<input class="form-control" type="email" id="email" ng-model="customer.email" name="email" ng-disabled="invoice.id_account">
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label for="address" class="control-label"><d>address</d>:</label>
							<input class="form-control" id="address" ng-model="customer.address" name="address" ng-disabled="invoice.id_account">
						</div>
						<div class="form-group">
							<label for="detail" class="control-label"><d>detail</d>:</label>
							<input class="form-control" id="detail" ng-model="customer.detail" name="detail" ng-disabled="invoice.id_account">
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4" ng-show="!invoice.id_account">
					<button class="btn btn-primary btn-block" ng-click="saveCustomer()"><d>SaveCustomer</d></button>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="mainInvoice" ng-show="invoice.id_account">
		<table class="table table-striped" align="center" >
			<tr>
				<th></th>
				<th style="width:200px;"><d>Serial</d></th>
				<!-- <th><d>Category</d></th> -->
				<th><d>Brand</d></th>
				<!-- <th><d>Model</d></th> -->
				<th><d>Product</d></th>
				<th style="width:80px;"><d>Qty</d></th>
				<th><d>Cost</d></th>
				<th style="width:100px;"><d>priceBuy</d></th>
				<th><d>description</d></th>
				<th style="width:100px;"><p>Total</p></th>
			</tr>
			<tr ng-repeat="item in invoice.items" jq-animate="dropdown;250">
        <td><a href ng-click="removeItem(item)" class="btn btn-danger btn-sm">{{$index+1}}</a></td>
				<td><input class="form-control barcoder" ng-model="item.code" ng-keypress="codeChange($event,item)" placeholder="Serial"></td>
				<td>
						<select class="form-control" id="brand" ng-options="brand.name for brand in brandList track by brand.id" ng-change="updateProductList(item)" ng-model="item.id_brand" name="brand" ></select>
					</td>
					<!-- <td>					
						<select class="form-control" id="model" ng-options="model.name for model in item.modelList track by model.id" ng-change="updateProductList(item)" ng-model="item.id_model" name="model" ></select>
					</td> -->
					<td>
						<select class="form-control" id="product" ng-options="product.name for product in item.productList track by product.id" ng-change="updatePrice(item)" ng-model="item.id_product" name="product" ></select>
					</td>
					<td><input class="form-control" ng-model="item.qty" type="number" value="1" size="4" ng-required ng-validate="integer" placeholder="qty" style="width:70px;"></td>
					<td><input class="form-control" ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="cost"></td>
					<td><input style="text-align:right;" class="form-control" value="{{item.price_buy | currency}}" disabled></td>
					<td><input class="form-control" ng-model="item.description" type="text" size="6" placeholder="description"></td>
					
					

					<td align="right"><input style="text-align:right;" class="form-control" value="{{item.cost * item.qty | currency}}" disabled> </td>

				</tr>
				<tr ng-hide="printMode">
					<td colspan="8"><a class="btn btn-primary btn-sm" href ng-click="addItem()" > + </a></td>
				</tr>
				<tr>
					<td colspan="7" align="right">
						<d>SubTotal</d>:
					</td>
					<td align="right">
						{{invoice_sub_total() | currency}}
					</td>
				</tr>
<!-- 				<tr>
					<td colspan="7" align="right">
						<d>Discount</d>($): <input  ng-change="calculate_discountAmount()" ng-model="invoice.discountAmount" ng-validate="number" style="width:43px">
					</td>
					<td colspan="1" align="right">
						<d>Discount</d>(%): <input ng-change="calculate_discount()" ng-model="invoice.discount" ng-validate="number" style="width:43px">
					</td>
					<td align="right">
						{{invoice.discountAmount | currency}}
					</td>
				</tr> -->
<!-- 				<tr>
					<td colspan="7" align="left" ng-class="tr">
						<d>Rate</d> {{invoice.dollarRate}} 
						<d>isEqualTo</d><strong> {{invoice.dollarRate * calculate_grand_total() | currency:'IQD ':0}} </strong>
					</td>
					<td colspan="1" align="right">
						<d>GrandTotal</d>:
					</td>
					<td align="right">
						{{calculate_grand_total() | currency}}
					</td>
				</tr> -->
				<tr>
					<td colspan="2" align="right">
						<d>Detail</d>:
					</td>
					<td colspan="7"align="right">
						<input class="form-control" ng-model="invoice.detail" type="text" >
					</td>
				</tr>
				<tr>
				<td colspan="2" align="right">
						<d>addToAccount</d>:
					</td>
					<td colspan="2" align="right">
						<select class="form-control" id="payAccount" ng-options="option.name for option in accountPayList track by option.id" ng-model="invoice.pay.id_account" name="payAccount">
						</select>
					</td>
					<td colspan="2" align="right">
						<d>Payin</d>:
					</td>
					<td colspan="1" align="right">
						<!-- <input ng-model="invoice.pay.payDinar" placeholder="IQD" ng-validate="number" class="form-control"> -->
					</td>
					<td>
						<input ng-model="invoice.pay.payDollar" placeholder="$" ng-validate="number" class="form-control">
					</td>
				</tr>
				

			</table>
			<div class="col-md-10">
				<div class="alert alert-warning alert-dismissable" ng-show="errorShow">
					<button type="button" class="close" ng-click="toggleError()">×</button>
					<h4 style="margin-bottom: 0;" class="{{tr}}" ><i class="icon fa fa-warning"></i> <d>Alert</d> <span ng-repeat="m in errorMessage">{{dic(m.field)}} - {{dic(m.content)}} {{m.extra}}</span></h4>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary pull-right" ng-click="saveInvoice()"  ng-disabled="lockForm"><d>Save</d></button>
			</div>
		</div>
		</div>

	</div><!-- /.box-body -->
</div><!-- /.box -->
</section>


