<div class="col-md-10 col-md-offset-1 noPrint" ng-show="invoicePrint.base.status == 'progress'">
					<h3><d>Payin</d></h3>

					<div class="col-md-12 {{tr}}">
						<p><d>totalOfInvoice</d>: {{(100 - invoicePrint.base.discount) * invoicePrint.base.total / 100 | currency}}</p>
						<p><d>totalPayin</d>: {{invoicePrint.base.totalPays | currency}}</p>
						<p class="red"><d>Remained</d>: {{(100 - invoicePrint.base.discount) * invoicePrint.base.total / 100 - invoicePrint.base.totalPays | currency}}</p>
					</div>
					<form ng-submit="savePayin()" name="payinForm" novalidate>
						<div class="col-md-3">
							<label class="control-label"><d>Dinar</d>:</label>
							<input ng-model="pay.payDinar" placeholder="IQD" ng-validate="number" type="number" class="form-control">
						</div>

						<div class="col-md-3">
							<label class="control-label"><d>Dollar</d>:</label>
							<input ng-model="pay.payDollar" placeholder="$" ng-validate="number" type="number" class="form-control">
						</div>

						<div class="col-md-3">
							<label class="control-label"><d>addToAccount</d>:</label>
							<select class="form-control" id="payAccount" ng-options="option.id as option.name for option in accountPayList track by option.id" ng-model="pay.id_account_other" name="payAccount">
							</select>
						</div>

						<div class="col-md-3">
							<label class="control-label"><d>Detail</d>:</label>
							<input ng-model="pay.detail" placeholder="Detail" type="text" class="form-control">
						</div>

						<div class="col-md-4 col-md-offset-4">
							<label class="control-label">&nbsp;</label>
							<button class="btn btn-primary pull-right btn-block" ng-disabled="!payinForm.$valid || lockForm"><d>Send</d></button>
						</div>


						<div class="col-md-12" style="margin-top: 15px;">
							<div class="alert alert-warning alert-dismissable " ng-show="errorShow">
								<button type="button" class="close" ng-click="toggleError()">×</button>
								<h4 style="margin-bottom: 0;"><i class="icon fa fa-warning"></i> <d>Alert</d> <span ng-repeat="m in errorMessage">{{dic(m.field)}} - {{dic(m.content)}} {{m.extra}}</span></h4>
							</div>
						</div>
					</form>
				</div>